extends ./basic.pug

block append styles
  link(rel='stylesheet', href=app.getAssetUrl('/css/game.min.css'))

block append scripts
  script(src=app.getAssetUrl('/js/game.min.js'))

block append body
  #lottery-game.container
    #game-board
      .cell.cell-1.play-0
      .cell.cell-2.play-1
      .cell.cell-3.play-2
      .cell.cell-4.play-7
      #play-btn.cell.cell-5 Click
      .cell.cell-6.play-3
      .cell.cell-7.play-6
      .cell.cell-8.play-5
      .cell.cell-9.play-4
